body{
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header{
  background: #102C57;
  height: 80px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 5px #5F5C5C;
}
.textheader{
  text-align: right;
  color: #1679AB;
  position: absolute;
  top: 5px;
  right: 22px;
  font-family: sans-serif;
  font-size: 22px;
  text-shadow: 0px 0px 5px #1679ABA1;

  
  -webkit-text-fill-color: transparent;
  background: url('https://i.ytimg.com/vi/fwU1JK3nYdo/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGDggWihyMA8=&rs=AOn4CLBd_ygKQLgMjJsmzWFaioBEu6yRPA');
  background-size: cover;
    -webkit-background-clip: text;
    background-position:  0px 40px ;
}
.textheader::selection{
  color: #1679AB;
  background: #102C57;
}
.icon{
  height: 60px;
  border-radius: 23px;
  margin-top: 4px;
  margin-left: 7px;
  border: solid 1.7px #1679AB;padding: 3px;
  cursor: default;
  box-shadow: 0px 0px 4px #2E41EC;

}
.icon::selection{
  background: transparent;
}
.txtart{
  position: absolute;
top: 39px;
right: 26px;
color: #98A1A5C2;
}
.drawpictures{
  background: red;
  width: 95%;
  height: 250px;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #B9B9B9F0;
}
.infromation{
  background: #102C57;
  width: 95%;
  height: 60px;
  position: relative;
  top: 30px;
  border-radius: 8px;
  margin:auto;
  display: flex;
  justify-content: right;
}
#likesvg {
  width: 35px;
  margin-top: 7.5px;
  margin-right: 9px;
  fill: #D2D2D2F0;
  z-index: 1;
}
#likesvg:hover{
fill: #E1B227;
}


.unlike{
width: 50px;
  margin-top: 0px;
  margin-right: 10px;
  fill: #D2D2D2F0;
  height: 60px;
background: transparent;
z-index: 1;

}
#unlike3{
  margin-top: 7px;
}
#unlike3:hover{
  fill: #E1B227;
}

.timepost{
  color: white;
  position: relative;
margin-left: 29px;
  top: -27px;
  justify-content: center;
}
.like{
  width: 55px;
  background: transparent;
  z-index: 1;
}


.drawpictures2{
  background: red;
  width: 95%;
  height: 250px;
  
  margin: auto;
  position: relative;
  top: 1px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #B9B9B9F0;
}
.infromation2{
  background: #102C57;
  width: 95%;
  height: 60px;
  position: relative;
  top: 15px;
  border-radius: 8px;
  margin:auto;
  display: flex;
  justify-content: right;
}
.timepost2{
  color: white;
  position: relative;
margin-left: 29px;
  top: -44px;
  justify-content: center;
}
